/* Write your CSS code here */
.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  height: 400px;
  width: 400px;
}
.logo {
  height: 70px;
  width: 200px;
  align-self: center;
}
.btn1 {
  width: 120px;
  height: 40px;
  margin-top: 20px;
}
.dived {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px black;
  margin-left: 100px;
  padding: 20px;
}
.label {
  margin-bottom: 5px;
  height: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  min-height: 400;
  width: 300px;
}
